html, body{
	background-color:#fff;
	margin: 0;
	font-size:100%;
}

#wrapper{
	margin:auto;
	max-width: 1000px;
	display: block;
	padding:1em;
}

img{
	height: 15em;
}

.handling{
	outline-style: dotted;
	padding:1em;
}